body {
    background-color: #333;
    height: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}

/*头部样式*/
.header {
    position: relative;
    height: 56px;
}

.header-logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.header-title {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    font: normal 21px/21px SimHei;
    color: #393a3a;
}

.header-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    list-style: none;
}

.header-nav li {
    display: inline-block;
    margin-left: 10px;
}

.header-nav-link {
    text-decoration: none;
    font: normal 14px 微软雅黑;
    color: #333;
}

li:last-child .header-nav-link,
li:first-child .header-nav-link {
    color: #e74e4d;
}

/* good */
.header-icon {
    vertical-align: bottom;
}

/*banner样式*/
.banner {
    position: relative;
    height: 690px;
    overflow: hidden;
}

.banner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner-title {
    position: absolute;
    left: 10%;
    top: 30%;
    font: normal 60px 微软雅黑;
    color: #fff;
}

.banner-text {
    position: absolute;
    left: 11%;
    top: 43%;
    font: normal 21px/36px 微软雅黑;
    color: #fffdfd;
}

.banner-btn {
    position: absolute;
    left: 11%;
    top: 64%;
    width: 331px;
    height: 65px;
    background-color: #e74f4d;
    -webkit-box-shadow: 1px 1px 1px #666;
    -moz-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    border: 0;
    font: 30px 微软雅黑;
    color: #fff;
}

.dec {
    height: 250px;
}

.dec-img > img {
    margin: 50px 0 0 272px;
}

.dec-img > img:first-child {
    margin-left: 141px;
}

.dec-list {
    float: left;
    margin-top: 40px;
    height: 70px;
    width: calc(100% / 4);
    font: normal 14px/18px SimHei;
    color: #767777;
    text-align: center;
    border-right: 2px solid #767777;
}

.dec-list:last-child {
    border: 0;
}

.guild {
    padding-top: 80px;
    height: 361px;
    background-color: #ededed;
}

.guild-icon {
    display: block;
    margin: 0 auto;
    width: 92px;
    height: 92px;
}

.guild-text {
    margin-top: 36px;
    font: normal 54px/57px SimHei;
    color: rgba(50, 51, 51, 0.5);
    text-align: center;
}

/*搜索模块样式*/
.search {
    position: relative;
    height: 341px;
}

.search-shade {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(170, 52, 51, 0.2);
}

.search-title {
    text-align: center;
    margin-top: 52px;
    font: normal 21px/42px 微软雅黑;
    color: #fff;
}

.search-bar {
    margin: 8px auto 0;
    width: 36px;
    height: 3px;
    background-color: #fff;
}

.search-text {
    text-align: center;
    margin-top: 16px;
    font: normal 12px/31px 微软雅黑;
    color: #fff;
    opacity: 0.8;
}

.search-shade-form {
    text-align: center;
}

.search-form,
.search-btn {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-right: 36px;
    width: 236px;
    height: 36px;
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: 1px 1px 1px #666;
    -moz-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}

.search-btn {
    background-color: #be4e48;
    font: 14px 微软雅黑;
    color: #fff;
}

.search-form-input {
    /*good  去掉下拉菜单中的小箭头*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font: normal 12px 微软雅黑;
    color: #333;
    opacity: 0.5;
}

.search-form-input option {
    /*display: block;*/
    /*margin-left: 20px;*/
    background-color: #fff;
    /*height: 60px;*/
}

.search-form > img {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    /*vertical-align: middle; !*很好很好*!*/
    opacity: 1;
}

/*画展样式*/
.gallery {
    height: 605px;
    background-color: #f7f7f7;
    text-align: center;
}

.gallery-list {
    margin-top: 100px;
    display: inline-block;
}

.gallery-list-title {
    font: normal 18px 微软雅黑;
    color: #333;
}

.gallery-list-text {
    font: 12px/24px 微软雅黑;
    color: #999;
}

.service {
    position: relative;
    height: 566px;
}

.service-img {
    position: absolute;
    top: 0;
    left: 0;
}

.service-img-title,
.service-img-time,
.service-img-address,
.service-img-date{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.service-img-title {
    top: 110px;
    font: 49px/76px 微软雅黑;
}

.service-img-time {
    top: 120px;
    font: 158px/241px 微软雅黑;
}

.service-img-address {
    top: 330px;
    font: 22px/43px 微软雅黑;
}

.service-img-date {
    top: 380px;
    font: 22px/43px 微软雅黑;
}

.service-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 430px;
    height: 100%;
}

.service-text-title {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    font: bolder 18px/14px 微软雅黑;
    color: #333;
}

.service-text-title > span {
    color: #e74f4d;
}

.service-text-text {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    font: bolder 12px/30px SimSun;
    color: #AAAAAA;
}

.service-text-btn {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 38px;
    border: 1px solid red;
    font: 12px/31px 微软雅黑;
    color: #e25c60;
    background-color: #fff;
}

.service-text:after{
    content: '';
    position: absolute;
    top: 460px;
    left: 51%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    box-shadow: -20px 0 0 #999;
}

/*'新时代关于爱生活的我们'样式*/
.service-list {
    display: flex;
    height: 521px;
}

.service-list-content1,
.service-list-content2,
.service-list-content3{
    flex: 1;
}

.service-list-content1 {
    background-color: #e74f4d;
}

.service-list-content3 {
    position: relative;
}

.content1-title,
.content2-title {
    margin-top: 40%;
    font: 21px/30px SimHei;
    text-align: center;
}

.content1-title {
    color: #fff;
}

.content1-bar, .content2-bar {
    width: 40px;
    height: 2px;
    margin: 6% auto;
}

.content1-bar {
    background-color: #fff;
}

.content2-bar {
    background-color: #999;
}

.content1-btn,
.content2-btn {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    width: 140px;
    height: 40px;
    font: normal 21px/24px SimHer;
}

.content1-btn {
    border: 1px solid #fff;
    color: #fff;
}

.content2-btn {
    border: 1px solid #e74f4d;
    color: #e74f4d;
}

.service-list-content3:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.joinus {
    height: 750px;
}

.joinus-title {
    padding-top: 10%;  /*good*/
    font: 21px/30px SimHei;
    text-align: center;
}

.joinus-bar {
    width: 40px;
    height: 4px;
    margin: 1% auto;
    background-color: #e74f4d;
}

.joinus-text {
    margin-top: 1%;
    font: 12px/18px 微软雅黑;
    text-align: center;
    color: #aaa;
}

.joinus-form {
    margin: 140px 120px 0 120px;
}

.joinus-form-left {
    display: inline-block;
    width: 34%;
}

.joinus-form-right {
    display: inline-block;
    width: 640px;
}

.joinus-form-left-title {
    font: 16px SimHei;
    color: #231815;
    opacity: 0.8;
}

.joinus-form-left-text {
    margin-top: 20px;
    font: 12px/21px SimSun;
    color: #231815;
    opacity: 0.6;
}

.joinus-form-left-more {
    margin-bottom: 20px;
    margin-left: 280px;
    font: 16px SimSun;
    color: #231815;
    opacity: 0.6;
}

.joinus-form-right-list {
    height: 41px;
    margin-bottom: 14px;
}

.joinus-list-input1,
.joinus-list-input2 {
    padding-left: 10px;
    float: left;
    height: 100%;
    width: 311px;
    border: 0;
    font: 12px 微软雅黑;
    color: #999;
    background-color: #edecee;
}

.joinus-list-input1:focus,
.joinus-list-input1:hover,
.joinus-list-input2:hover,
.joinus-list-input3:hover,
.joinus-list-input2:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

.joinus-list-input1 {
    margin-right: 14px;
}

.joinus-form-right-list2 {
    margin-bottom: 14px;
    height: 121px;
}

.joinus-form-right-list2 > input {
    width: 100%;
}

.joinus-form-right-list3 {
    margin-bottom: 14px;
    height: 41px;
}

.joinus-form-right-list2 > button {
    width: 100%;
}

.joinus-list-input3 {
    padding-left: 10px;
    float: left;
    height: 41px;
    width: 100%;
    border: 0;
    font: 12px 微软雅黑;
    color: #999;
    background-color: #edecee;
}

.partner {
    height: 361px;
    background-color: #32353e;
}

.partner-title {
    padding-top: 60px;
    font: 21px/48px SimHei;
    color: #fff;
    text-align: center;
}

.partner-text {
    margin-bottom: 60px;
    margin-top: 10px;
    font: 12px/18px SimHei;
    color: #fff;
    text-align: center;
}

.partner-input {
    width: 514px;
    height: 41px;
    margin: 0 auto;
}

.partner-input-email {
    float: left;
    width: 431px;
    height: 100%;
}

.partner-input-btn {
    border: 0;
    width: 81px;
    height: 100%;
    font: 18px/18px 微软雅黑;
    color: #fff;
    background-color: #6f7278;
}

/*尾部样式*/
.footer {
    position: relative;
    height: 58px;
    background-color: #2f2f38;
}

.footer-title,
.footer-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
}

.footer-title {
    left: 50px;
    font: 12px/12px 微软雅黑;
}

.footer-text {
    right: 50px;
    font: 12px/12px 微软雅黑;
}