
header{
    position: relative;
    width: 100%;
    height: 50px;
    background: #91d4da;
    font: 16px "sans-serif";
    color: #fff;
}
main,.module{
    border-bottom: 10px solid #eee;
}
.header__back{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.header__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav__ul{
    width: 100%;
    height: 50px;
    display: flex;
    font: 14px/50px "sans-serif";
    list-style: none;
    color: #333;
    text-align: center;
}
.nav__ul li{
    flex: 1;
}
.main-img{
    width: 100%;
}
.main__tag{
    display: flex;
    margin: 0 10px;
    border-bottom: 1px solid #ccc;
}
.main__tag:after{
    content: "";
    display: block;
    clear: both;
}
.main__tag__item{
    flex: 1;
}
.main__tag__item img{
    display: block;
    width: 60%;
    margin: 10px auto;
}
.main__tag__item p{
    text-align: center;
    margin-bottom: 8px;
}
.main__tab{
    display: flex;
    margin: 0 10px;
}
.main__tab:after{
    content: "";
    display: block;
    clear: both;
}
.main__tab__list{
    flex: 1;
    margin: 10px 0;
}
.main__tab__list:nth-child(1),
.main__tab__list:nth-child(2){
    border-right:1px solid #ccc;
}
.main__tab__list img{
    display: block;
    width: 60%;
    margin: 10px auto;
}
.main__tab__list p{
    text-align: center;
}
.main__tab__list .tab__list__title{
    font-size: 16px;
    font-weight: bolder;
}
.module{
    padding: 10px;
    border-bottom: 10px solid #eee;
}
.module h4{
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
.module__list{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.module__list__img{
    width: 100px;
    height: 100px;
}
.module__list__item{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 110px;
    height: 100px;
    font: 18px/44px "sans-serif";
    text-align: center;
}
.module__list__item p{
    height: 44px;
    background: #eee;
}
.new{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #eee;
}
.new__img{
    width: 110px;
    height: 80px;
}
.new__text{
    width: calc(100% - 130px);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.new__text p:first-child{
    font: 18px "sans-serif";
}
.new__text p:last-child,
.new1__dec{
    font: 14px "sans-serif";
    color: #999;
}
.new1{
    padding: 10px;
}
.new1__img{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
