
html,
body {
    background-color: #ccc;
    height: 100%;
}

header {
    position: relative;
    height: 50px;
    background-color: #142d4c;
}

/*
*navigation section
*/
.nav-title {
    margin-left: 20px;
    font: normal 20px/50px "sans-serif";
    color: #ccc;
}

.nav-list {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.nav-list > li {
    display: inline-block;
    font-size: 10px;
}

.nav-list-tab {
    color: #eee;
    text-decoration: none;
}

/* good */
.content,
.aside {
    margin: 1% 2%;
    padding: 2%;
    border-radius: 2px;
    box-shadow: 0 1px 2px;
    background-color: #fff;
}

/* good */
.content {
    width: calc(100% - 300px - 6%);
}

/* good */
.aside {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
}

/*h1 style*/
.content-title {
    font-size: 24px;
}

/*h2 style*/
.content-subtitle {
    font-size: 16px;
    color: #999;
}

.content-img {
    display: block;
    width: 50%;
    height: 50%;
}

/*the style of unordered list in content */
.content-list {
    margin-left: 4%;
}

.content-figure {
    margin: 2%;
    width: 20%;
    height: 20%;
}

.content-figure-caption {
    margin: 0 0 1px;
}

.content-figure-img {
    width: 100%;
}

.content-author {
    font-size: 12px;
    color: #999;
}

/*
* table style
*/
.content-table {
    border-collapse: collapse;
    width: 100%;
}

.content-table-thead {
    background-color: #333;
    color: #fff;
}

td {
    border: 1px solid #999;
    font-size: 12px;
    padding-left: 6px;
}

.content-table-tfoot {
    border: 0;
    background-color: #666;
    color: #fff;
}

/*
* form style
*/
.form-items {
    margin-bottom: 10px;
    font-size: 10px;
}

.form-item {
    margin-bottom: 2px;
}

/* good */
.form-item-label {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.form-item-input {
    margin-left: 2%;
}

.form-tips {
    margin: 0.2% 0 0 32.2%;
    color: #ccc;
}

.form-button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    font-size: 12px;
    color: #fff;
    background-color: rgb(38, 71, 176);
}

.footer {
    font: 12px/50px "sans-serif";
    color: #fff;
    text-align: center;
    background-color: #142d4c;
}