body{
    background-color: #222;
}
/**********总容器大小***************/
.container{
    margin: 0 auto;
    width: 980px;
    height: 1386px;
    background-color: #fff;
}
/*内容大小*/
.content{
    margin: 0 44px;
    height: 100%;
}

.content__header,.content__figcaption,
.content__text,.content__main{
    margin-bottom: 30px;
}
/*标题头部样式*/
.content__header{
    border-bottom: 2px solid #938e8c;
}
.header__logo{
    width: 110px;
    height:61px;
    background-color: #841616;
}
.header__logo>a{
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #cccccc;
    padding-top: 40px;
    padding-left: 4px;
}
/**************轮播图部分**************/
.content__figcaption{
    height:301px;
}
/*轮播图左部分*/
.figcaption__left{
    position: relative;
    float: left;
    height: 301px;
    width: 641px;
}
.figcaption__left__img{
    display: block;
    width: 100%;
    height:100%;
}
.figcaption__left__green{
    position: absolute;
    left: 0;
    top: 0;
    width: 191px;
    height:301px;
    background-color: #2d5441;
    opacity: 0.6;
}
.figcaption__left__red{
    position: absolute;
    right: 0;
    top: 0;
    width: 191px;
    height:301px;
    background-color: #6c4350;
    opacity: 0.6;
}
/*轮播图右部分*/
.figcaption__right{
    float: right;
    height: 301px;
    width: 203px;
    border-top:2px solid #cc8091;
}
.figcaption__right__title1{
    font: 24px/40px 微软雅黑;
    color: #000;
    text-decoration: underline;
}
.figcaption__right__title2{
    font: 12px/10px 楷体;
    color: #676767;
}
.figcaption__right__title3{
    margin-left: -10px;
    font: italic 116px 微软雅黑;
    color: #75b86b;
}
.figcaption__right__title4{
    padding: 0;
    font:55px/55px 微软雅黑;
    color: #cc8091;
}
.figcaption__right__title5{
    display: inline-block;
    margin-left: -10px;
}
.title5-1{
    margin-bottom:-4px;
    font: 21px/21px 微软雅黑;
    color: #cc8091;
}
.title5-2{
    font:12px 微软雅黑;
    color: #333;
}
/******************文字部分****************/
.content__text{
    height: 200px;
}
.text__left,.text__middle,.text__right{
    float: left;
    width: 200px;
    margin-right: 30px;
}
.text__left__title,
.text__middle__title,
.text__right__title{
    font: bolder 16px 微软雅黑;
    text-decoration: underline;
}
.text__left__title{
    color: #418c59;
}
.text__middle__title{
    color: #d2994f;
}
.text__right__title{
    color: #cc7680;
}
.text__left__dec,
.text__middle__dec,
.text__right__dec{
    font: 12px/16px 微软雅黑;
    margin-top: 4px;
    opacity: 0.7;
}
.text__left__dec{
    color: #767777;
    opacity: 1;
}
.text__middle__dec{
    color: #231815;
}
.text__right__dec{
    color: #231815;
    line-height: 20px;
}
.bot__num{
    font-style: italic;
    color: #cd4a48;
}
/*************主体部分************/
.content__main{
    height:660px ;
    border-bottom: 1px solid #938e8c;
}
/*主体左边*/
.main__left{
    float: left;
    width: 415px;
}
.main__left__title{
    padding-bottom: 10px;
    border-bottom:2px solid #11456b;
}
.main__left__title__oth{
    font: bolder 42px/42px 黑体;
    color: #11456b;
}
.main__left__title__oth>span{
    font:  italic bolder 72px 黑体;
    color: #f5e327;
    margin-right: 26px;
}
.main__left__title__oth1{
    font: bolder 33px 黑体;
    color: #11456b;
}
.main__left__dec{
    padding-top: 20px;
}
.main__left__dec__text{
    font: 12px/16px 宋体;
    color: #767777;
}
.indent{
    text-indent: 2em;
}
.main__left__dec__big{
    float: left;
    font: 70px/70px 微软雅黑;
    color: #f5e327;
}
.main__left__dec__img{
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}
/*主体右边*/
.main__right{
    float: right;
    width: 458px;
}
.main__right__top{
    position: relative;
    height: 275px;
}
.main__right__top img{
    width: 100%;
    height: 100%;
}
.main__right__top__shutter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 61px;
    background-color: rgba(0,0,0,0.4);
}
.shutter__detail{
    position: absolute;
    margin: auto 0;
    top:0;
    bottom: 0;
    left: 40px;
    width: 3px;
    height: 44px;
    background-color: #72b16a;
}
.shutter__title{
    position: absolute;
    left: 58px;
    top:50%;
    transform: translateY(-50%);
    font: 26px/26px 微软雅黑;
    color: #fff;
}
.shutter__text{
    position: absolute;
    left: 168px;
    top:50%;
    font: italic 12px/140% 微软雅黑;
    color: #72b16a;
}
.main__right__bottom{
    position: relative;
    margin-top: 20px;
    width: 459px;
    height: 318px;
    background-color: #eeedd6;
}
.main__right__bottom__dec{
    font: 16px/38px 宋体;
    color: #5a5b5b;
    padding: 30px;
}
.arrow{
    display: inline-block;
    border-bottom: 8px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    margin-right: 6px;
}
.text-dec{
    font-size: 12px;
    text-align: right;
}
.main__right__bottom__inf{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 260px;
    height: 160px;
    background-color: #d45d5c;
}
.inf__num{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font: 110px 微软雅黑;
    color: #fff;
}
.inf__detail{
    position: absolute;
    margin: auto 0;
    top:0;
    bottom: 0;
    left: 78px;
    width: 2px;
    height: 86px;
    background-color: #fff;
}
.inf__dec{
    position: absolute;
    top: 50%;
    left: 88px;
    transform: translateY(-50%);
    color: #fff;
}
.inf__dec__title{
    font: italic 21px/24px 黑体;
}
.inf__dec__text{
    font: 12px/12px 黑体;
}
.main__right__bottom__foot{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 160px;
    padding-top:40px;
    font: italic 14px/16px 黑体;
    color: #5a5b5b;
}
.foot__leader-left,
.foot__leader-right{
    font: normal 72px/20px 黑体;
    color: #d45d5c;
}
