@charset "UTF-8";
/*
*页面总样式开始
*/
body {
  background: #333;
}
.container {
  max-width: 90%;
  min-width: 60%;
  margin: 0 auto;
}
/*
*页面总样式结束
*/
/*
*头部模块开始
*/
header {
  position: relative;
  width: 100%;
  height: 56px;
  background: #2189bf;
}
header .logo {
  left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: #fff;
  border: 1px solid #2189bf;
}
header .logo1 {
  margin: 18px 0 0 18px;
  width: 18px;
  height: 18px;
  border-top: 3px solid #2189bf;
  border-left: 3px solid #2189bf;
}
header .search {
  right: 174px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 26px;
  width: 312px;
}
header .search__input {
  border: 0;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  border-radius: 15px;
}
header .login {
  right: 112px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font: 12px "黑体";
  color: #fff;
}
header .login__logo {
  vertical-align: middle;
  margin-right: 2px;
}
/*
*头部模块结束
*/
/*
*侧边栏模块开始
*/
aside {
  float: left;
  height: 100vh;
  width: 260px;
  background: #2a2e3d;
}
aside .aside__personMg {
  height: 94px;
  font: 14px/94px "sans-serif";
  color: #fff;
}
aside .aside__personMg .circle {
  float: left;
  width: 58px;
  height: 58px;
  border-radius: 30px;
  border: 1px solid #bababe;
  margin: 18px 20px 18px 46px;
}
aside .aside__personMg .circle-center {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background: #bababe;
  margin: 4px auto 0;
}
aside .aside__nub {
  display: flex;
}
aside .aside__nub div {
  flex: 1;
  font: 13px "sans-serif";
  color: #6a7b8f;
  padding-left: 36px;
}
aside .aside__nub div:first-child {
  text-align: right;
  padding: 0 36px 0 0;
  border-right: 1px solid #4c596e;
}
aside .aside__part3 {
  background: #383d4e;
  margin-top: 15px;
}
aside .aside__part3 .aside-title {
  font: 12px "sans-serif";
  color: #6e8095;
  text-indent: 50px;
  padding: 15px 0;
}
aside .aside__part3 .aside-title:first-child {
  color: #ededef;
}
aside .aside__part3 .aside-icon {
  display: inline-block;
  margin-right: 10px;
}
aside .aside__part3 .aside-title__items {
  font: 12px "sans-serif";
  color: #6e8095;
  text-indent: 74px;
  margin: 20px 0;
}
aside .aside__part3 .aside-title__items:nth-child(2) {
  color: #fff;
}
aside .aside__part3 .aside-title__items:last-child {
  margin: 0;
}
aside .aside__part3 .aside-icon2 {
  display: inline-block;
  margin-right: 5px;
}
aside .aside__part3 .aside-title__item {
  text-indent: 114px;
  padding: 10px 0 0;
}
aside .aside__part3 .aside-title__item:last-child {
  color: #6e8095;
}
/*
*侧边栏模块结束
*/
section {
  float: right;
  position: relative;
  height: 100vh;
  width: calc(100% - 260px);
  background: #ededec;
}
/*
*主内容模块结束
*/
/*
*导航模块开始
*/
nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: #fff;
}
nav ul {
  list-style: none;
}
nav .nav__list > li {
  display: inline-block;
  color: #aaaaaa;
  font: 12px/30px "sans-serif";
}
nav .nav__list > li:first-child {
  margin-left: 30px;
}
nav .nav__list > li:last-child {
  font-weight: bolder;
  color: #6898c2;
}
nav .nav__list__link {
  margin-right: 8px;
  color: inherit;
  font: inherit;
  text-decoration: none;
}
/*
*导航模块结束
*/
