@charset "UTF-8";
/*
*页面总样式开始
*/
body {
  background: #333;
}
.container {
  max-width: 90%;
  min-width: 60%;
  margin: 0 auto;
}
/*
*页面总样式结束
*/
/*
*头部模块开始
*/
header {
  position: relative;
  width: 100%;
  height: 56px;
  background: #2189bf;
}
header .logo {
  left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: #fff;
  border: 1px solid #2189bf;
}
header .logo1 {
  margin: 18px 0 0 18px;
  width: 18px;
  height: 18px;
  border-top: 3px solid #2189bf;
  border-left: 3px solid #2189bf;
}
header .search {
  right: 174px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 26px;
  width: 312px;
  border-radius: 15px;
  overflow: hidden;
}
header .search__input {
  border: 0;
  height: 100%;
  width: 100%;
}
header .login {
  right: 112px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font: 12px "黑体";
  color: #fff;
}
header .login__logo {
  vertical-align: middle;
  margin-right: 2px;
}
/*
*头部模块结束
*/
